{% extends 'base.html.twig' %}

{% block title %}Hello SiteBoulangController!{% endblock %}


{% block body %}
<style>

body {
    background: url('../assets/fondPresentation.jpg') no-repeat fixed 0;
}

</style>

<div class="container">
    <div style="height: 300px">
        <div class="text-center" style="font-size:92px; font-weight:700; margin-top: 00px; color:#fff; font-family:comic sans ms;" >
            <p style="margin-top:200px">Presentation</p>
        </div>
    </div>
    <div class="text-center" style=" font-size:25px; color:#fff; font-family:comic sans ms; ">
        {{ Presentation.presentation }}
    </div>
</div>

<div class="container">

{% endblock %}